body {
	margin: 0;
	padding: 0;
	color: #000000;
	background-image: none;
}

#wrapper {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	min-width: 0;
}

h1 {
	margin: 0;
	font-size: 1.5em;
	padding-left: 0.3em;
}

#nav {
	display: block;
	padding: 0.2em;
	font-size: 1.3em;
	border-bottom: 1px;
	border-bottom-color: #330000;
}

#nav ul {
	padding: 0;
}

#content {
	padding: 0.1em 0 0 0.4em;
	margin: 0;
	font-size: 90%;	
}

#content img {
	display: none;
	float: none;
	padding-right: 0;
}

#content ul {
	list-style-position: outside;
}

h1 {
	padding-left: 0.3em;
	height: 20px;
	line-height: 120%;
}

#footer {
	padding: 0;
	margin: 0;
}

#mobile {
	display: inline;
}

#desktop{
	display: none;
}

.resort{
	color: #5C7FA3; 
	font-weight: bold;;
}